<link rel="stylesheet" href="/css/footer.css">
<footer>
    <section>
        <div id="containerFooter">

            <div id="webFooter">
                <h3> PHUC </h3>
                <p> quần áo nam </p>
                <p> quần áo nữ </p>
                <p> phụ kiện nam </p>
                <p> phụ kiện nữ </p>
            </div>
            <div id="webFooter">
                <h3> Liên kết </h3>
                <p> Trang chủ </p>
                <p> Về chúng tôi </p>
                <p> Liên hệ </p>
            </div>
            <div id="webFooter">
                <h3> Đối tác </h3>
                <p> zara </p>
                <p> pantaloons </p>
                <p> levis </p>
                <p> ucb </p>
                <p> + và còn nữa</p>
            </div>
            <div id="webFooter">
                <h3> Địa chỉ </h3>
                <p> 122 Hoàng Quốc Việt, Phường Nghĩa Đô, Quận Cầu Giấy, Tp. Hà Nội</p>
            </div>
        </div>
        <div id="credit">Created by: Trần Hữu Phúc</div>
    </section>

</footer>